@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO A GHANDALF S.A</h1>
    <p></p>
    <img src="../Imagenes/GANDALF.jpg" alt=" imagen de ghandalf " width="400" height="341">
</div>

