@{
    ViewData["Title"] = "Instrucciones ";
}
<h1>@ViewData["Title"]</h1>

<p>LABORATORIO 0
    creado por <br>
    Diego Morales<br>
    José De León
    OSI OSI</p>


<h4>@ViewData["Title"]</h4>
<p>
    Para ingresar clientes ir a texto "Ingresar Cliente" y llenar todos los campos
</p>

<p>
    Para la lista debe ingresar el texto "nombre" para ordenarlo por nombre, si no lo tomara como ordenamiento por apellido
</p>